<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Flask Button</title>
    <script src="https://unpkg.com/htmx.org@1.4.1"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}">

</head>
<body>

    <div class="container m-2">
        <button hx-post="/trigger" hx-trigger="click" hx-swap="outerHTML" hx-target="#progress-bar"
                id="progress_button"
                class="btn btn-primary m-1">
            Click here
        </button>
    </div>
    <div class="container m-2">
        {% include "progress_snippet.html" %}
    </div>



</body>
</html>