<div id="progress-bar" class="progress">
    <div class="progress-bar {% if polling %}progress-bar-striped progress-bar-animated bg-info{% else %}{% if fail %} bg-danger {% else %}bg-success{% endif %}{% endif %}"
         role="progressbar"
         style="width: {{ progress|default(0) }}%"
         aria-valuenow="{{ progress|default(0) }}"
         aria-valuemin="0"
         aria-valuemax="100">
    </div>

    {% if polling %}
        <div hidden="hidden"
             hx-trigger="every 1s"
             hx-get="/progress_report/{{ job_key }}"
             hx-swap="outerHTML"
             hx-target="#progress-bar">s
        </div>
    {% endif %}
</div>